@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@*
    The web page is made up of 2 major components:
    a) the layout page located in the folder /pages/ shared as a file called _Layout
    b) the content page
*@
<!-- 
    comments via html comment 
-->

<div>
    <h1>Welcome to the world of Razor Pages</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<section class="setflex">
    <div class="onethird">
        <img src="~/img/WestWind.png" alt="full west wind logo" />
    </div>
    <div>
        <p> <span style="font-size:large;color:firebrick;">Thumbnail</span>
             An image that is usually a small version of another image. Used
              where a small image gives meaning and is purposeful.</p>
        <p> <span style="font-size:large;color:firebrick;">Logo</span>
             An image tha is usually a branding image for a company or organization.
             </p>
    </div>
</section>


@if(string.IsNullOrWhiteSpace(Model.MyName))
{
    <p>the world of Razor Pages is apparently in an odd state at this time.</p>
}
else 
{
    <p>@Model.MyName</p>
}